<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://googleapis.com" />
    <link rel="stylesheet" href="./education.component.css">

    <title>Education Document</title>
</head>
<body>
   <section id="education" class="py-30 px-12 md:px-16">
        <div class="max-w-7xl mx-auto text-center mb-16">
            <h2 class="font-['Space Grotesk'] text-[45px] font-normal leading-[1.6] mb-4
            md:text-[48px] lg:text-[50px]">Academic <span class="text-[#a4e6ff]">Journey</span>
            </h2>
            <p class="font-['Inter'] text-[18px] text-[#bbc9cf]
            md:text-[22px] lg:text-[24px]">Building a strong foundation in Computer
                Science and Engineering.</p>
            </div>
        <div class="max-w-6xl mx-auto space-y-8 relative">
            <div
                class="absolute left-1/2 -translate-x-1/2 top-0 bottom-0 w-px bg-linear-to-b from-[#a4e6ff]/50 via-[#3c494e] to-transparent hidden md:block">
            </div>
            <!-- Under-Grad -->
            <div class="relative md:flex items-center gap-12 group">
                <div class="md:w-1/2 text-right hidden md:block">
                    <div class="font-['JetBrains Mono'] text-[20px] lg:text-[22px] 2xl:text-[26px] text-[#a4e6ff] mb-1">2021 - 2025</div>
                    <h3 class="font-['Space Grotesk'] text-[24px] lg:text-[28px] 2xl:text-[32px]">Under-Graduation (CSE)</h3>
                </div>
                <div
                    class="w-12 h-12 rounded-full bg-[#171f33] border-2 border-[#a4e6ff] z-10 flex items-center justify-center shrink-0 mx-auto mb-4 md:mb-0">
                    <span class="material-symbols-outlined text-[#a4e6ff]"
                        style="font-variation-settings: 'FILL' 1;">school</span>
                </div>
                <div class="md:w-1/2 glass-card p-8 rounded-2xl group-hover:border-[#a4e6ff]/50 transition-colors">
                    <div class="md:hidden">
                        <div class="font-['JetBrains Mono'] text-[20px] text-[#a4e6ff] mb-1">2021 - 2025</div>
                        <h3 class="font-['Space Grotesk'] text-[24px] mb-2">Under-Graduation (CSE)</h3>
                    </div>
                    <p class="font-['Inter'] text-[18px] md:text-[20px] lg:text-[22px] 2xl:text-[24px] text-[#dae2fd] mb-2">Veerayatan Institute of Engineering</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">SPI : 9.62</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">Focused on Data Structures,
                        Algorithms, and Modern Web Architectures.</p>
                </div>
            </div>
            <!-- SSC 12th -->
            <div class="relative md:flex items-center gap-12 group flex-row-reverse">
                <div class="md:w-1/2 text-left hidden md:block">
                    <div class="font-['JetBrains Mono'] text-[20px] lg:text-[22px] 2xl:text-[26px] text-[#a4e6ff] mb-1">2019 - 2020</div>
                    <h3 class="font-['Space Grotesk'] text-[24px] lg:text-[28px] 2xl:text-[32px]">SSC (12th Grade)</h3>
                </div>
                <div
                    class="w-12 h-12 rounded-full bg-[#171f33] border-2 border-[#3c494e] z-10 flex items-center justify-center shrink-0 mx-auto mb-4 md:mb-0 group-hover:border-[#a4e6ff] transition-colors">
                    <span
                        class="material-symbols-outlined text-[#bbc9cf] group-hover:text-[#a4e6ff] transition-colors">history_edu</span>
                </div>
                <div
                    class="md:w-1/2 glass-card p-8 rounded-2xl group-hover:border-[#a4e6ff]/50 transition-colors text-left md:text-left">
                    <div class="md:hidden">
                        <div class="font-['JetBrains Mono'] text-[20px] text-[#a4e6ff] mb-1">2019 - 2020</div>
                        <h3 class="font-['Space Grotesk'] text-[24px] mb-2">SSC (12th Grade)</h3>
                    </div>
                    <p class="font-[Inter] text-[18px] md:text-[20px] lg:text-[22px] 2xl:text-[24px] text-[#dae2fd] mb-2">Shree Ghanshaym Academy - Naranpar</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">Percentage : 82.66 %</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">Specialized in Science and
                        Mathematics.</p>
                </div>
            </div>
            <!-- SSC 10th -->
            <div class="relative md:flex items-center gap-12 group">
                <div class="md:w-1/2 text-right hidden md:block">
                    <div class="font-['JetBrains Mono'] text-[20px] lg:text-[22px] 2xl:text-[26px] text-[#a4e6ff] mb-1">2017 - 2018</div>
                    <h3 class="font-[Space Grotesk] text-[24px] lg:text-[28px] 2xl:text-[32px]">SSC (10th Grade)</h3>
                </div>
                <div
                    class="w-12 h-12 rounded-full bg-[171f33] border-2 border-[#3c494e] z-10 flex items-center justify-center shrink-0 mx-auto mb-4 md:mb-0 group-hover:border-[#a4e6ff] transition-colors">
                    <span
                        class="material-symbols-outlined text-[#bbc9cf] group-hover:text-[#a4e6ff] transition-colors">auto_stories</span>
                </div>
                <div class="md:w-1/2 glass-card p-8 rounded-2xl group-hover:border-[#a4e6ff]/50 transition-colors">
                    <div class="md:hidden">
                        <div class="font-['JetBrains Mono'] text-[20px] text-[#a4e6ff] mb-1">2017 - 2018</div>
                        <h3 class="font-['Space Grotesk'] text-[24px] mb-2">SSC (10th Grade)</h3>
                    </div>
                    <p class="font-['Inter'] text-[18px] md:text-[20px] lg:text-[22px] 2xl:text-[24px] text-[#dae2fd] mb-2">Shree Ghanshaym Academy - Naranpar</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">Percentage : 83.33 %</p>
                    <p class="font-['JetBrains Mono'] text-[16px] md:text-[18px] lg:text-[20px] 2xl:text-[22px] text-[#bbc9cf]">Foundation in basic sciences and
                        humanities.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>