<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Document</title>
</head>
<body>
  <section class="py-30 px-12 md:px-16 bg-[#131b2e]/30" id="skills">
        <h2 class="font-['Space Grotesk'] text-center text-[40px] md:text-[48px] lg:text-[56px] 2xl:text-[60px] mb-6 text-glow">Technical <span
                class="text-[#a4e6ff]">Skills</span></h2>
      <div class="max-w-7xl mx-auto grid lg:grid-cols-2 gap-20 items-center">
          <div>
              <h3 class="font-['Space Grotesk'] text-center text-[20px] md:text-[30px] lg:text-[34px] mb-6 text-[#a4e6ff]">Crafting Modern Web Experiences</h3>
              <p class="font-['Inter'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] text-[#bbc9cf] mb-12 text-justify">
                 Building modern, responsive, and user-friendly web applications using cutting-edge frontend technologies and development tools.
              </p>
              <div class="space-y-8">
                  <div>
                      <div class="flex justify-between mb-3">
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] uppercase tracking-widest">HTML</span>
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] text-[#a4e6ff]">90%</span>
                      </div>
                      <div class="h-1.5 w-full bg-[#2d3449] rounded-full overflow-hidden">
                          <div class="h-full bg-[#a4e6ff] rounded-full shadow-[0_0_10px_#00d1ff]"
                              style="width: 90%"></div>
                      </div>
                  </div>
                  <div>
                      <div class="flex justify-between mb-3">
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] uppercase tracking-widest">CSS /
                              Tailwind</span>
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] text-[#a4e6ff]">85%</span>
                      </div>
                      <div class="h-1.5 w-full bg-[#2d3449] rounded-full overflow-hidden">
                          <div class="h-full bg-[#a4e6ff] rounded-full shadow-[0_0_10px_#00d1ff]"
                              style="width: 85%"></div>
                      </div>
                  </div>
                  <div>
                      <div class="flex justify-between mb-3">
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] uppercase tracking-widest">JavaScript / Typescript</span>
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] text-[#a4e6ff]">60%</span>
                      </div>
                      <div class="h-1.5 w-full bg-[#2d3449] rounded-full overflow-hidden">
                          <div class="h-full bg-[#a4e6ff] rounded-full shadow-[0_0_10px_#00d1ff]"
                              style="width: 60%"></div>
                      </div>
                  </div>
                  <div>
                      <div class="flex justify-between mb-3">
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] uppercase tracking-widest">Angular</span>
                          <span class="font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] text-[#a4e6ff]">55%</span>
                      </div>
                      <div class="h-1.5 w-full bg-[#2d3449] rounded-full overflow-hidden">
                          <div class="h-full bg-[#a4e6ff] rounded-full shadow-[0_0_10px_#00d1ff]"
                              style="width: 55%"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="glass-card p-12 rounded-4xl relative overflow-hidden">
              <div class="absolute -top-24 -right-24 w-64 h-64 bg-[#a4e6ff]/10 blur-[80px] rounded-full"></div>
              <h3 class="font-['Space Grotesk'] text-center text-[28px] md:text-[34px] lg:text-[38px] 2xl:text-[42px] font-medium mb-8">Tools &amp; Technologies</h3>
              <div class="flex flex-wrap gap-4 justify-center">
                  <span class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                  <i class="devicon-html5-plain colored mr-2.5 text-[40px]"></i> HTML 5</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-javascript-plain colored mr-2.5 text-[40px]"></i> JavaScript</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-css3-plain colored mr-2.5 text-[40px]"></i> CSS3</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-bootstrap-plain colored mr-2.5 text-[40px]"></i> Bootstrap
                    </span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-angularjs-plain colored mr-2.5 text-[40px]"></i> Angular</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-tailwindcss-original colored mr-2.5 text-[40px]"></i> Tailwindcss</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-typescript-plain colored mr-2.5 text-[40px]"></i> Tyescript</span>
                  <span
                      class="flex items-center px-6 py-3 rounded-xl bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 text-[#a4e6ff] font-['JetBrains Mono'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px] hover:bg-[#a4e6ff]/20 transition-all cursor-default">
                      <i class="devicon-git-plain colored mr-2.5 text-[40px]"></i> Git</span>
              </div>
              <div
                  class="mt-12 p-6 rounded-xl bg-[#171f33] border border-[#3c494e]/30 italic text-[#bbc9cf] font-['Inter'] text-[14px] md:text-[16px] lg:text-[18px] 2xl:text-[20px]">
                  "Passionate about creating seamless digital experiences through clean code and modern web technologies."
              </div>
          </div>
      </div>
  </section>
</body>
</html>