<section id="skills" class="relative overflow-hidden py-28 scroll-reveal">

    <div class="absolute inset-0 bg-[radial-gradient(circle_at_top,#0f1d4f_0%,#020817_70%)]"></div>

    <div class="absolute left-0 top-1/2 h-112.5 w-112.5 -translate-y-1/2 rounded-full bg-cyan-500/10 blur-[150px]">
    </div>

    <div class="absolute right-0 top-1/2 h-112.5 w-112.5 -translate-y-1/2 rounded-full bg-purple-500/10 blur-[150px]">
    </div>

    <div class="relative z-10 mx-auto max-w-7xl px-6">

        <div class="text-center">
            <h2 class="font-serif text-4xl md:text-5xl font-bold">
                <span class="text-white">
                    Technologies
                </span>
                <span class="bg-linear-to-r from-sky-400 via-blue-500 to-purple-500 bg-clip-text text-transparent">
                    I Work With
                </span>
            </h2>

            <div class="mx-auto mt-6 flex items-center justify-center gap-3">
                <div class="h-0.5 w-32 bg-linear-to-r from-transparent to-sky-500"></div>
                <div class="h-4 w-4 rotate-45 bg-sky-500"></div>
                <div class="h-0.5 w-32 bg-linear-to-r from-purple-500 to-transparent"></div>
            </div>

            <p class="mx-auto mt-8 max-w-3xl text-xl text-slate-400">
                Modern technologies used to craft scalable,
                responsive and interactive web applications.
            </p>

        </div>

        <!-- Cards -->

        <div class="grid gap-8 lg:grid-cols-3 mt-12">
            @for(category of categories; track category.title){
            <div
                class="group rounded-[28px] border border-white/10 bg-white/3 p-8 backdrop-blur-xl transition-all duration-500
                 hover:-translate-y-3 hover:border-cyan-400/40 hover:shadow-[0_0_50px_rgba(34,211,238,.18)] text-center">

                <h3 class="mb-2 text-3xl font-bold text-white">
                    {{category.title}}
                </h3>

                <p class="mb-8 text-slate-400">
                    {{category.subtitle}}
                </p>

                <div class="grid grid-cols-2 gap-4">

                    @for(skill of category.skills; track skill.name){

                    <div class="rounded-2xl border border-cyan-500/10 bg-[#07152c] p-5 text-center transition-all duration-300
                        hover:scale-105 hover:border-cyan-400/30">

                        <i class="devicon-{{skill.icon}}-plain colored mr-2.5 text-[28px] md:text-[52px]"></i>

                        <p class="mt-4 font-medium text-white text-[18px]">
                            {{skill.name}}
                        </p>

                    </div>
                    }
                </div>
            </div>
            }
        </div>

        <!-- Bottom Banner -->
        <div class="mt-12 rounded-[28px] border border-white/10 bg-white/3 p-8 backdrop-blur-xl">

            <p class="text-center text-[20px] text-slate-300 italic">
                Passionate about creating seamless digital
                experiences through clean code and modern
                web technologies.
            </p>

        </div>
    </div>
</section>