<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section id="home" class="min-h-screen flex items-center justify-center px-6 pt-20">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 items-center">
      <div class="z-10 order-1 mt-10 md:order-1">
        <div
          class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 mb-6">
          <span class="w-2 h-2 rounded-full bg-[#a4e6ff] animate-pulse"></span>
          <span
            class="font-['JetBrains Mono'] text-[12px] md:text-[14px] lg:text-[16px] text-[#a4e6ff] uppercase tracking-widest">Available
            for Hire</span>
        </div>
        <h1 class="font-['Space Grotesk',sans-serif] text-[28px] mb-6 leading-tight
        md:text-[32px] lg:text-[36px] 2xl:text-[40px]">Hi, I'm Hitesh Vekariya <br><span
            class="typing text-[#a4e6ff] text-glow">{{typeEffect()}}</span><br> Building Modern Web Experiences</h1>
        <p
          class="font-['Inter',sans-serif] text-[14px] text-[#bbc9cf] text-justify mb-10 max-w-lg md:text-[16px] lg:text-[18px] 2xl:text-[20px]">
          I am a passionate Frontend Developer specializing in <span
            class="text-[#dae2fd] font-semibold">Angular</span>,
          <span class="text-[#dae2fd] font-semibold">TypeScript</span>,
          <span class="text-[#dae2fd] font-semibold">JavaScript</span>,
          <span class="text-[#dae2fd] font-semibold">HTML</span>,
          <span class="text-[#dae2fd] font-semibold">CSS</span>,
          <span class="text-[#dae2fd] font-semibold">Bootstrap</span>, and <span
            class="text-[#dae2fd] font-semibold">Tailwind CSS</span>. I enjoy transforming ideas into interactive and
          responsive web experiences while continuously learning modern web technologies.
        </p>
        <div class="flex flex-wrap gap-6">
          <a class="border border-[#a4e6ff] text-[#a4e6ff] font-['JetBrains Mono'] text-[12px] px-8 py-4 rounded-xl hover:bg-[#a4e6ff]/5 transition-all
          md:text-[16px] lg:text-[18px]" href="#contact">Contact Me</a>
          <button
            class="bg-[#00d1ff] text-[#00566a] font-['JetBrains Mono'] text-[12px] px-8 py-4 rounded-xl hover:shadow-[0_0_20px_rgba(0,209,255,0.4)] transition-all cursor-pointer
            md:text-[16px] lg:text-[18px]">
            Resume
          </button>
        </div>
      </div>
      <div class="relative order-2 md:order-2">
        <div class="absolute inset-0 bg-[#a4e6ff]/10 blur-[100px] rounded-full"></div>
        <div
          class="glass-card rounded-4xl aspect-square flex items-center justify-center p-8 relative overflow-hidden group">
          <div
            class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/carbon-fibre.png')]">
          </div>
          <img alt="Advanced Tech Visualization"
            class="rounded-2xl shadow-2xl group-hover:scale-105 transition-transform duration-700"
            data-alt="A sophisticated 3D rendering of abstract code blocks and glowing technical components floating in a deep navy digital void. The lighting features sharp cyan highlights and electric blue rim lights that accentuate the sharp geometric edges. The overall mood is high-tech, precise, and futuristic, representing advanced frontend development concepts with a premium dark-mode studio aesthetic."
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuB2715Tu6AtODyuidYLDeFaCwdF-hMviMK-6dO6gBh2Bz5wBBWfBcZQZ_R5o8JW437uAm7pOn3wEnmWViXFMgkLZrXk3HOnyGgajgtcvx3z3sL6qYxPUu-ASedstoUo1PqCMkC6HywWCHcA1vw2iPJizPPlKLzcUuSGbYdbabRDMoVnmtEHzqfw5qRiloDya_zYH3zIdQIQ5REwOVntem6-jXKyj3-afY439xycR1PDnryJlgDzwdfrwF7ju-2GqwMmrKi7TcZH3I8" />
        </div>
      </div>
    </div>
  </section>
</body>

</html>