<section id="home" class="min-h-screen flex items-center justify-center px-6 pt-20 scroll-reveal">
  <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 items-center">
    <div class="z-10 order-1 mt-10 md:order-1">
      <div
        class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-[#a4e6ff]/10 border border-[#a4e6ff]/20 mb-6">
        <span class="w-2 h-2 rounded-full bg-[#a4e6ff] animate-pulse"></span>
        <span
          class="font-['JetBrains_Mono',monospace] text-[12px] italic md:text-[14px] lg:text-[16px] text-[#a4e6ff] uppercase tracking-widest">Available
          for Hire</span>
      </div>
      <h1 class="font-['Space_Grotesk',sans-serif] text-[22px] mb-6 leading-tight
        md:text-[28px] lg:text-[34px]">Hi, I'm Hitesh Vekariya <br><span class="typing text-[#a4e6ff] text-glow">{{
          displayText() }}</span><br> Building Modern Web Experiences</h1>
      <p
        class="font-['Inter',sans-serif] text-[14px] text-[#bbc9cf] text-justify mb-10 max-w-lg md:text-[16px] lg:text-[18px] 2xl:text-[20px]">
        I am a passionate Frontend Developer specializing in <span class="text-[#dae2fd] font-semibold">Angular</span>,
        <span class="text-[#dae2fd] font-semibold">TypeScript</span>,
        <span class="text-[#dae2fd] font-semibold">JavaScript</span>,
        <span class="text-[#dae2fd] font-semibold">HTML</span>,
        <span class="text-[#dae2fd] font-semibold">CSS</span>,
        <span class="text-[#dae2fd] font-semibold">Bootstrap</span>, and <span
          class="text-[#dae2fd] font-semibold">Tailwind CSS</span>. I enjoy transforming ideas into interactive and
        responsive web experiences while continuously learning modern web technologies.
      </p>
      <div class="flex flex-wrap gap-6">
        <a class="border border-[#a4e6ff] text-[#a4e6ff] font-['JetBrains_Mono',monospace] font-bold text-[12px] px-8 py-4 rounded-xl hover:bg-[#a4e6ff]/5 transition-all
          md:text-[16px] lg:text-[18px]" href="#contact">Contact Me</a>
        <button (click)="openDialog()" class="bg-[#00d1ff] text-[#00566a] font-['JetBrains_Mono',monospace] font-bold text-[12px] px-8 py-4 rounded-xl hover:shadow-[0_0_20px_rgba(0,209,255,0.4)] transition-all cursor-pointer
            md:text-[16px] lg:text-[18px]">
          Resume
        </button>
      </div>
    </div>
    <div class="relative order-2 md:order-2">
      <div class="absolute inset-0 bg-[#a4e6ff]/10 blur-[100px] rounded-full"></div>
      <div
        class="glass-card rounded-[50%] aspect-square flex items-center justify-center p-8 relative overflow-hidden group">
        <div
          class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/carbon-fibre.png')]">
        </div>
        <img alt="Advanced Tech Visualization"
          class="rounded-[50%] bg-cover shadow-2xl group-hover:scale-105 transition-transform duration-700"
          data-alt="Picture of Hitesh Vekariya" src="Personal Pic.jpeg" />
      </div>
    </div>
  </div>

  @if (isDialogOpen) {
  <div class="fixed top-20 left-1/2 -translate-x-1/2 z-50 w-full max-w-2xl px-4 animate-resume-open">
    <div class="bg-gray-800 rounded-xl shadow-2xl border border-gray-700 overflow-hidden">
      <!-- Header -->
      <div class="flex items-center justify-between px-6 py-4 border-b border-gray-700">
        <!-- Left Icon -->
        <div class="w-10 flex justify-start">
          <span class="material-symbols-outlined text-blue-400 text-6xl">
            docs
          </span>
        </div>
        <!-- Center Title -->
        <h3
          class="font-['JetBrains_Mono',monospace] tracking-[.2rem] flex-1 text-center text-[18px] md:text-[20px] font-semibold text-white">
          Resume Document View
        </h3>
        <!-- Right Close Button -->
        <button (click)="closeDialog()" class="absolute top-2 right-7 w-12 h-12 flex items-center justify-center
                        rounded-full border border-cyan-400 bg-slate-800 cursor-pointer
                        text-cyan-400 text-xl font-bold
                        transition-all duration-300
                        hover:bg-cyan-500 hover:text-slate-900
                        hover:rotate-180 hover:scale-110">

          ✕
        </button>
      </div>
      <!-- Resume -->
      <div class="flex justify-center p-6 max-h-[70vh] overflow-y-auto">
        <img src="Hitesh_Vekariya_Resume_page.jpg" alt="Resume" class="w-full max-w-xl rounded-md shadow-lg">
      </div>
      <!-- Footer -->
      <div class="flex justify-center border-t border-gray-700 p-5">
        <a href="Hitesh_Vekariya_Resume.pdf" download
          class="inline-flex items-center gap-2 rounded-lg bg-blue-600 px-5 py-3 text-white font-medium hover:bg-blue-500 transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M7.5 10.5 12 15m0 0 4.5-4.5M12 15V3" />
          </svg>
          Download Resume
        </a>
      </div>
    </div>
  </div>
  }
</section>