<section class="reveal py-30 px-12 md:px-16 bg-[#060e20]/50" id="about">
    <div class="max-w-7xl mx-auto grid md:grid-cols-2 gap-12 items-center">
        <div class="order-2 md:order-1">
            <div class="absolute inset-0 bg-[#a4e6ff]/10 blur-[100px] rounded-full"></div>
            <div
                class="glass-card rounded-4xl aspect-square flex items-center justify-center p-8 relative overflow-hidden group">
                <div
                    class="absolute inset-0 opacity-20 bg-[url('https://www.transparenttextures.com/patterns/carbon-fibre.png')]">
                </div>
                <img alt="Development Workspace"
                    class="rounded-2xl shadow-2xl group-hover:scale-105 transition-transform duration-700"
                    data-alt="A clean and professional workspace featuring a high-end mechanical keyboard and a high-resolution monitor displaying complex code structures. The lighting is low and moody, with a primary electric blue glow emanating from the screen, casting soft cyan shadows across the matte black desk. The atmosphere is focused and sophisticated, embodying the 'Crafting with Rigor' philosophy."
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuDpEqSQTpsSBGv_5zaqPLH6EiEhSQ9ahwHyKpgGeWvJqUTlLPpg9XvWGAJoqi-XZ4L7NPHDLFteqV82a3bUVjsvE7s-_qOwNpqP5epN6UkqLVwUdfjtohfWjnup5B1TR_iN1r57iwWO7i5Alr0LfgzJSwGccp0byRIGrLKXZyXTKH3os51HJa3-2jdlsbg6jxMR_xBNE5MTSEEqQqCUA33b5mtXpUai177jSSSZKCMMzw8yYNIAubZTB175kBajfE5XB_l7-iQqQn8" />
            </div>
        </div>
        <div class="order-1 md:order-2">
            <h2 class="font-['Space Grotesk'] text-[32px] mb-8 md:text-[38px] lg:text-[42px]">
                <span class="text-[#a4e6ff] font-bold text-glow">{{ displayText() }} <span
                        class="text-[#a4e6ff] text-glow animate-pulse">|</span> </span><br>
                Focused on Modern Web Experiences.
            </h2>
            <p
                class="font-['Inter'] text-[14px] text-justify text-[#bbc9cf] mb-8 leading-relaxed md:text-[18px] lg:text-[20px]">
                As an aspiring Frontend Developer and Web Designer, I am passionate about creating modern, responsive,
                and intuitive web applications.I focus on writing clean, maintainable code while designing interfaces
                that are both visually appealing and user-friendly.
            </p>
            <p
                class="font-['Inter'] text-[14px] text-justify text-[#bbc9cf] mb-8 leading-relaxed md:text-[18px] lg:text-[20px]">
                With hands-on experience in
                <span class="text-[#dae2fd] font-semibold">Angular</span>,
                <span class="text-[#dae2fd] font-semibold">TypeScript</span>,
                <span class="text-[#dae2fd] font-semibold">JavaScript</span>,
                <span class="text-[#dae2fd] font-semibold">HTML</span>,
                <span class="text-[#dae2fd] font-semibold">CSS</span>,
                <span class="text-[#dae2fd] font-semibold">Bootstrap</span>, and
                <span class="text-[#dae2fd] font-semibold">Tailwind CSS</span> ,
                I enjoy transforming concepts into interactive digital solutions.
                I am eager to contribute, learn, and grow while delivering meaningful user experiences through
                technology.
            </p>
        </div>
    </div>
</section>