@import "tailwindcss";

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


body {
  background-color: #0b1326;
  color: #dae2fd;
  -webkit-font-smoothing: antialiased;
}

.glass-card {
  background: rgba(30, 41, 59, 0.4);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(51, 65, 85, 0.5);
}

.text-glow {
  text-shadow: 0 0 20px rgba(0, 209, 255, 0.3);
}

.bg-grid-pattern {
  background-image: radial-gradient(
    circle at 2px 2px,
    rgba(51, 65, 85, 0.15) 1px,
    transparent 0
  );
  background-size: 40px 40px;
}

.nav-dot-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #a4e6ff;
  border-radius: 9999px;
  box-shadow: 0 0 10px #00d1ff;
}

@keyframes portfolioReveal {
  from {
    opacity: 0;
    transform: translateY(80px) scale(.95);
    filter: blur(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.scroll-reveal {
  animation: portfolioReveal linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

/* Floating Animation */
@keyframes float {
  0%,100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

/* Glow Animation */
@keyframes glow {
  0%,100% {
    box-shadow:
      0 0 20px rgba(59,130,246,.2),
      0 0 40px rgba(59,130,246,.1);
  }

  50% {
    box-shadow:
      0 0 30px rgba(168,85,247,.4),
      0 0 60px rgba(168,85,247,.2);
  }
}

/* Border Glow */
@keyframes borderGlow {
  0% {
    border-color: rgba(59,130,246,.3);
  }

  50% {
    border-color: rgba(168,85,247,.6);
  }

  100% {
    border-color: rgba(16,185,129,.3);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

.animate-glow {
  animation: glow 3s ease-in-out infinite;
}

.animate-border {
  animation: borderGlow 4s linear infinite;
}

/* Mouse Hover Spotlight */

.skill-card {
  position: relative;
  overflow: hidden;
}

.skill-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(
      circle at center,
      rgba(255,255,255,.12),
      transparent 70%
    );

  opacity: 0;
  transition: .5s;
}

.skill-card:hover::before {
  opacity: 1;
}